docbook/T1/WG3/out/
docbook/resources/
docs/T1/WG3/XLIFF-EM-BP-V1.0-prd01.xhtml
docs/T1/WG3/XLIFF-EM-BP-V1.0-prd01.xhtml
docs/T1/WG3/XLIFF-EM-BP-V1.0-prd01.xhtml
docs/T1/WG3/XLIFF-EM-BP.xhtml
docs/T1/WG3/XLIFF-EM-BP.pdf
