@import "normalize.css";
body {
    width: 36em;
    max-width: 100%;
    margin: 0 auto;
    color: #333;
    font-size: 16px;
    line-height: 1.25em;
    padding: 0 0 .2em 0;
    font-family: verdana, arial, helvetica, sans-serif;
}
.glossterm.normative {
    text-transform: uppercase;
}
.glossterm.non-normative {
    font-style: italic;
}
p {
    text-align: justify;
    text-rendering: optimizeLegibility !important;
    /*letter-spacing: .03em;*/
    hyphens: auto;
}
li > p {
    text-align: left;
}

p.releaseinfo {
    text-align: left;
}
.bibliomixed {
    text-align: left;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.programlisting {
    /*      display: flex;*/
    flex-wrap: nowrap;
    overflow-x: auto;
}
code {
    hyphens: none;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: decimal !important;
}
